---
layout: default
---
{% include hero.html %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Lucas Gatsas",
    "url": "https://lucasgatsas.com",
    "image": "{{ site.url }}/images/lucas-gatsas-feed-big-2.jpg",
    "keywords": "Lucas Gatsas, Gatsas, Astro + Solar Photographer, tse262728.com, tse262728",
    "sameAs": [
      "https://www.instagram.com/lucasgatsas/",
      "https://youtube.com/@lucasgatsasastro",
      "https://x.com/lucasgatsas",
      "https://www.threads.net/@lucasgatsas",
      "https://vsco.co/lucasgatsas/gallery"
    ],
    "jobTitle": "Astro und Solar Photographer",
    "worksFor": {
      "@type": "Organization",
      "name": "Swiss Solar Observatory Society",
      "url": "https://lucasgatsas.com"
    }
  }

</script>
<script type="application/ld+json">

  {
    "@context": "https://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://lucasgatsas.com/"
    },
    "headline": "Lucas Gatsas",
    "description": "Lucas Gatsas - Astro Solar Photographer",
    "image": [
      "https://lucasgatsas.com/images/lucas_gatsas_tse_april8_2024_18.jpg",
      "https://lucasgatsas.com/images/lucas_gatsas_tse_april8_2024_16.jpg",
      "https://lucasgatsas.com/images/lucas_gatsas_tse_april8_2024_10.jpg",
      "https://lucasgatsas.com/images/lucas-gatsas-total-solar-eclipse-moon.jpg"
    ],
    "author": {
      "@type": "Person",
      "name": "Lucas Gatsas",
      "description": "Astro and Solar Photographer",
      "image": "https://lucasgatsas.com/images/lucas-gatsas_01.jpg",
      "keywords": [
        "Lucas Gatsas",
        "Gatsas",
        "Astro Photographer",
        "Solar Photographer",
        "tse262728.com",
        "tse262728"
      ],
      "url": "https://lucasgatsas.xyz/about",
      "sameAs": [
        "https://www.instagram.com/lucasgatsas/",
        "https://youtube.com/@lucasgatsasastro",
        "https://x.com/lucasgatsas",
        "https://www.threads.net/@lucasgatsas",
        "https://vsco.co/lucasgatsas/gallery"
      ]
    },
    "publisher": {
      "@type": "Organization",
      "name": "Lucas Gatsas",
      "logo": {
        "@type": "ImageObject",
        "url": "https://lucasgatsas.com/favicon.png"
      }
    },
    "datePublished": "2024-12-23T12:34:00-05:00",
    "dateModified": "2024-12-23T12:34:00-05:00"
  }
</script>
<script type="application/ld+json">
  [{
    "@context": "https://schema.org/",
    "@type": "ImageObject",
    "contentUrl": "https://lucasgatsas.com/images/lucas_gatsas_tse_april8_2024_18.jpg",
    "license": "https://lucasgatsas.xyz/about",
    "acquireLicensePage": "https://lucasgatsas.xyz/about",
    "creditText": "Lucas Gatsas",
    "creator": {
      "@type": "Person",
      "name": "Brixton Brownstone"
     },
    "copyrightNotice": "Clara Kent"
  },
 {
    "@context": "https://schema.org/",
    "@type": "ImageObject",
    "contentUrl": "https://example.com/photos/1x1/adult-black-labrador.jpg",
    "license": "https://example.com/license",
    "acquireLicensePage": "https://example.com/how-to-use-my-images",
    "creditText": "Labrador PhotoLab",
    "creator": {
      "@type": "Person",
      "name": "Brixton Brownstone"
     },
    "copyrightNotice": "Lucas Gatsas"
  },
  {
    "@context": "https://schema.org/",
    "@type": "ImageObject",
    "contentUrl": "https://example.com/photos/1x1/adult-black-labrador.jpg",
    "license": "https://example.com/license",
    "acquireLicensePage": "https://example.com/how-to-use-my-images",
    "creditText": "Labrador PhotoLab",
    "creator": {
      "@type": "Person",
      "name": "Brixton Brownstone"
     },
    "copyrightNotice": "Lucas Gatsas"
  },
  {
    "@context": "https://schema.org/",
    "@type": "ImageObject",
    "contentUrl": "https://example.com/photos/1x1/adult-black-labrador.jpg",
    "license": "https://example.com/license",
    "acquireLicensePage": "https://example.com/how-to-use-my-images",
    "creditText": "Labrador PhotoLab",
    "creator": {
      "@type": "Person",
      "name": "Brixton Brownstone"
     },
    "copyrightNotice": "Lucas Gatsas"
  }]
  </script>


<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner">
        <div class="contaniner__inner-box">
          <div class="row grid">
            {% if site.posts.size > 0 %}
              {% for post in paginator.posts %}
                {% include article-content.html %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include pagination.html %}