---
layout: default
---
{% include hero.html %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Lucas Gatsas",
    "url": "https://lucasgatsas.com",
    "image": "{{ site.url }}/images/lucas-gatsas-feed-big-2.jpg",
    "keywords": "Lucas Gatsas, Gatsas, Astro + Solar Photographer, tse262728.com, tse262728",
    "sameAs": [
      "https://www.instagram.com/lucasgatsas/",
      "https://youtube.com/@lucasgatsasastro",
      "https://x.com/lucasgatsas",
      "https://www.threads.net/@lucasgatsas",
      "https://vsco.co/lucasgatsas/gallery"
    ],
    "jobTitle": "Astro und Solar Photographer",
    "worksFor": {
      "@type": "Organization",
      "name": "Swiss Solar Observatory Society",
      "url": "https://lucasgatsas.com"
    }
  }


  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://lucasgatsas.com"
    },
    "headline": "Lucas Gatsas",
    "description": "Total Solar Eclipse April 8, 2024 in Dallas, Texas USA.",
    "image": [
      "https://lucasgatsas.ch/img/portfolio/lucas-gatsas-total-solar-eclipse-moon.jpg",
      "https://lucasgatsas.ch/img/portfolio/lucas-gatsas-tse2024_15.jpg",
      "https://lucasgatsas.ch/img/portfolio/lucas-gatsas-max-totally-corona.jpg",
      "https://lucasgatsas.ch/img/portfolio/lucas-gatsas-tse2024_11.jpg"
    ],  
    "author": {
      "@type": "Person",
      "name": "Lucas Gatsas",
      "url": "https://lucasgatsas.xyz/about"
    },  
    "publisher": {
      "@type": "Organization",
      "name": "Lucas Gatsas",
      "logo": {
        "@type": "ImageObject",
        "url": "https://lucasgatsas.ch/style/images/favicon.png"
      }
    },
    "datePublished": "2024-12-13 12:01:35 +0000",
    "dateModified": "2024-12-13 12:01:35 +0000"
  }


</script>
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner">
        <div class="contaniner__inner-box">
          <div class="row grid">
            {% if site.posts.size > 0 %}
              {% for post in paginator.posts %}
                {% include article-content.html %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include pagination.html %}