<!-- begin header -->
<header class="head">
  <p class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}{% if site.author.job %}, {{ site.author.job }}{% endif %}</a></p>
  <div class="icons">
    {% for social in site.social %}
      {% assign icon = social.icon %}
      {% if icon contains 'twitter' %}{% assign fa = 'fa-brands fa-x-twitter' %}{% assign label = 'X' %}
      {% elsif icon contains 'facebook' %}{% assign fa = 'fa-brands fa-facebook-f' %}{% assign label = 'Facebook' %}
      {% elsif icon contains 'youtube' %}{% assign fa = 'fa-brands fa-youtube' %}{% assign label = 'YouTube' %}
      {% elsif icon contains 'instagram' %}{% assign fa = 'fa-brands fa-instagram' %}{% assign label = 'Instagram' %}
      {% elsif icon contains 'github' %}{% assign fa = 'fa-brands fa-github' %}{% assign label = 'GitHub' %}
      {% elsif icon contains 'linkedin' %}{% assign fa = 'fa-brands fa-linkedin-in' %}{% assign label = 'LinkedIn' %}
      {% elsif icon contains 'pinterest' %}{% assign fa = 'fa-brands fa-pinterest' %}{% assign label = 'Pinterest' %}
      {% elsif icon contains 'mail' %}{% assign fa = 'fa-regular fa-envelope' %}{% assign label = 'E-Mail' %}
      {% else %}{% assign fa = 'fa-solid fa-link' %}{% assign label = 'Link' %}{% endif %}
      <a href="{{ social.link }}" target="_blank" rel="noopener" aria-label="{{ label }}"><i class="{{ fa }}"></i></a>
    {% endfor %}
  </div>
</header>
<!-- end header -->
