---
layout: default
---
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfilePage",
    "dateCreated": "2024-12-23T12:34:00-05:00",
    "dateModified": "2024-12-26T14:53:00-05:00",
    "mainEntity": {
      "@type": "Person",
      "name": "Lucas Gatsas",
      "description": "Photographer",
      "url": "https://lucasgatsas.com",
      "image": "{{ site.url }}{{ page.image | default: site.img_url }}",
      "keywords": "Lucas Gatsas, Gatsas, Astro + Solar Photographer, tse262728.com, tse262728",
    "sameAs": [
    "https://www.instagram.com/lucasgatsas/",
    "https://youtube.com/@lucasgatsasastro",
    "https://x.com/lucasgatsas",
    "https://www.threads.net/@lucasgatsas",
    "https://vsco.co/lucasgatsas/gallery"
    ],
    "jobTitle": "Astro und Solar Photographer",
    "worksFor": {
      "@type": "Organization",
      "name": "Swiss Solar Observatory Society",
      "url": "https://lucasgatsas.com"
    }
  }
}

{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://lucasgatsas.com"
  },
  "headline": "Lucas Gatsas",
  "description": "Total Solar Eclipse April 8, 2024 in Dallas, Texas USA.",
  "image": [
    "https://lucasgatsas.ch/img/portfolio/lucas-gatsas-total-solar-eclipse-moon.jpg",
    "https://lucasgatsas.ch/img/portfolio/lucas-gatsas-tse2024_15.jpg",
    "https://lucasgatsas.ch/img/portfolio/lucas-gatsas-max-totally-corona.jpg",
    "https://lucasgatsas.ch/img/portfolio/lucas-gatsas-tse2024_11.jpg"
  ],  
  "author": {
    "@type": "Person",
    "name": "Lucas Gatsas",
    "url": "https://lucasgatsas.xyz/about"
  },  
  "publisher": {
    "@type": "Organization",
    "name": "Lucas Gatsas",
    "logo": {
      "@type": "ImageObject",
      "url": "https://lucasgatsas.ch/style/images/favicon.png"
    }
  },
  "datePublished": "2024-12-13 12:01:35 +0000",
  "dateModified": "2024-12-13 12:01:35 +0000"
}


</script>
{% if page.image %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="image-box">
        <img class="page-image" src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 push-2 push-d-1 col-t-12 push-t-0">
      <!-- begin page -->
      <article class="page animate">
        <div class="page-head">
          <h1 class="page-title">{{ page.title | escape }}</h1>
        </div>
        <div class="page__content">
          {{ content }}
        </div>
      </article>
      <!-- end page -->
    </div>
  </div>
</div>